li.nav-item {
    display: contents;
}

.form-check-input,.form-select {
    background-color: #1f1f1f;
    -moz-appearance: none;
    background-repeat: no-repeat
}
.form-check-input:checked, .form-select:checked  {
    background-color: #55E6C1 !important;
}


.logo{height:auto;}


.navbar-collapse.show{width:100%;}
.navbar-collapse{width:0px;}


a.nav-link.active.text-light {
    color: goldenrod !important;
}


@media all and (max-width:991px){
    .navbar.open{width:100%; height: 100%;}
    .navbar{position:fixed; top:0em;}
    .navbar-nav {width:35% !important; margin:0px auto;}
    .nav-container{position:absolute; top:0px;}
    .nav-link i{font-size:1.75em !important;} 
    .nav-link{font-size:1.5em !important;}
    a.draft-btn {
    position: fixed;
    bottom: 20px;
}
html body .navbar.closed {
    border: 0px !important;
    width: 0px !important; height:0px !important; padding:0px;
}
}
@media all and (min-width:992px){
    .navbar{position:fixed; bottom:1em; right:0px; left:0px; margin:0px auto;
 
}
}

@media only screen and (max-width: 768px) {
  

}





@media all and (min-width:768px){

}

/* Custom CSS for absolute positioning at lg breakpoint and above */
@media all and (min-width: 992px) {
      .end-lg-0 {
        right: 0 !important; /* Use !important to ensure it overrides other positioning */
    }
    .position-lg-absolute {
        position: absolute !important;
    }
    
}