
/*

To make the preloader bar grow from left to right, you can change the CSS of .preloader-progress to have right: 100% instead of left: 0, and then use the transform property to translate the bar back to its original position. Here's an example CSS code:

.preloader-progress {
position: absolute;
top: 0;
right: 100%;
height: 100%;
background-color: black;
width: 0;
transform: translateX(-100%);
transition: width 0.5s ease-in-out;
}

This will position the .preloader-progress element to the right of its parent container, and then use the transform property to move it back to the left by its own width, effectively making it grow from left to right. The transition property with ease-in-out will give the progress bar a smooth animation as it grows.

To make the preloader bar grow from right to left, you can simply change the CSS of .preloader-progress to have left: 100% instead of right: 100%, and then use the transform property to translate the bar back to its original position. Here's an example CSS code:

.preloader-progress {
position: absolute;
top: 0;
left: 100%;
height: 100%;
background-color: black;
width: 0;
transform: translateX(-100%);
transition: width 0.5s ease-in-out;
}

This will position the .preloader-progress element to the left of its parent container, and then use the transform property to move it back to the right by its own width, effectively making it grow from right to left. The transition property with ease-in-out will give the progress bar a smooth animation as it grows.

*/


.preloader-container {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;

/*
background-image: url('img/6.jpg');
background-size: 100%;
background-position: center;
*/

background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
z-index: 2147483647;
}



#inner{
display: flex;
align-items: center;
justify-content: center;

}

.preloader-container .logo{position: relative; display: block;margin: 3em auto 0px auto;float:none;
width:17em; height:auto;
mix-blend-mode: multiply;}

.preloader-container .logo-alt{position: relative; display: block;margin: 5.5em auto 0px auto;float:none;
width:20em; height:auto;
mix-blend-mode: screen;}


.loader{ 
width: 100%;
position:fixed;
top: 72%;
transform: translateY(-50%);}

.preloader-bar {
width: 100%;
height: 15px;
background-color:goldenrod;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
position: relative;
right:0px;
}

.preloader-progress {
position: absolute;
top: 0;
left: 0;
height: 100%;
background-color: black;
width: 0;
}


.loading-bar{margin-top:10em;}



.preloader-text {
text-align: center;
margin-top: 30px;
color:goldenrod;
font-size: 3em;
font-family: 'Nova Slim', cursive;
font-weight: bolder;
}

